@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
}


  * {
    box-sizing: border-box;
  }


/* Hide scrollbar for sidebar on webkit browsers */
@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}